.git/
.github/
.venv/
venv/
env/
.pytest_cache/
__pycache__/
*.py[cod]
.env
.env.*

data/
notebooks/
tests/
artifacts/
mlruns/
mlartifacts/
mlflow.db
mlflow.db-*
logs/

models/*
!models/best_model.joblib
!models/best_model_metadata.json
